<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="X-UA-Compatible" content="IE=9">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="cache-control" content="max-age=0">
<meta http-equiv="cache-control" content="no-cache">
{js href="/static/home/js/b.js" /}
{js href="/static/home/js/lxb.js" /}
{js href="/static/home/js/insert_bdtj.js" /}
{js href="/static/home/js/v.js" /}
<script>function isPC() {
    for (var e = navigator.userAgent, t = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"), n = !0, r = 0; r < t.length; r++)if (0 < e.indexOf(t[r])) {
        n = !1;
        break
    }
    return n
}
isPC() || (location.href = "https://www.xfyeta.com/h5/index.html");
var _hmt = _hmt || [];
!function () {
    var e = document.createElement("script");
    e.src = "https://hm.baidu.com/hm.js?938fdfa48cd87136a61427bb7fe68324";
    var t = document.getElementsByTagName("script")[0];
    t.parentNode.insertBefore(e, t)
}()</script>
<title>耶塔(Yeta)电话机器人_ AI语音机器人_人工智能外呼系统</title>
<meta name="description" content="Yeta电话机器人依托最新AIUI语音技术,外呼系统真人声音与客户交流推荐产品,为企业精准锁定意向客户,提高外呼效率!">
{if $pagenum==0}
{css href="/static/home/css/swiper.min.css" /}
{css href="/static/home/css/animate.css" /}
{css href="/static/home/css/mediaelementplayer.min.css" /}
{css href="/static/home/css/index.d94f83fac22c203b788c.css" /}
{elseif $pagenum == 1 /}
{css href="/static/home/css/product.d4a101b87612f1afc178.css" /}
{elseif $pagenum==2 /}
{css href="/static/home/css/partner.a5b7196733331f13aff5.css" /}
{elseif $pagenum==3 /}
{css href="/static/home/css/news.7495521792da5c6a5269.css" /}
{elseif $pagenum==4 /}
{css href="/static/home/css/contact.39a0661a9eb4f47b204b.css" /}
{else /}
{/if}

{css href="/static/home/css/float.css" /}
{css href="/static/home/css/main.css" /}
<link rel="shortcut icon" href="https://www.xfyeta.com/favicon.ico">
{js href="/static/home/js/jquery-1.11.3.min.js" /}
<!--<script type="text/javascript"-->
<!--src="https://p.qiao.baidu.com/cps2/site/poll?cb=jsonp_bridge_1546492234104_3131703621915385&amp;l=1&amp;v=5455030960012292551&amp;s=12292551&amp;e=25650478&amp;dev=0&amp;auth=%7B%22anonym%22%3A0%2C%22key%22%3A%221615001481291880052qygb8809904451%22%2C%22sn%22%3A%22735104202%22%2C%22id%22%3A%225455030960012292551%22%2C%22from%22%3A4%2C%22token%22%3A%22bridge%22%7D&amp;_time=1546492234104"-->
<!--id="id_jsonp_bridge_1546492234104_3131703621915385" charset="utf-8"></script>-->