<footer class="footer">
    <div class="footer__top">
        <div class="footer__logo">
            <!--<div>-->
                <!--<img style="width: 100px;height:20px;" src="../static/home/img/douyunlogo.png">-->
            <!--</div>-->
            <!--<div class="logo-txt">耶塔电话机器人</div>-->
        </div>
        <div class="footer__nav">
            <img style="width: 150px;height:40px;margin-top: -50px;" src="../static/home/img/douyunlogo.png">
            <ul class="footer__item" style="margin-top:30px;">
                <li class="flink"><a href="/">首页</a></li>
                <li class="flink"><a href="/product">产品中心</a></li>
                <li class="flink"><a href="/coopercase">合作案例</a></li>
                <li class="flink"><a href="/partner">加盟代理</a></li>
                <li class="flink"><a href="/news">新闻资讯</a></li>
                <li class="flink"><a href="/contact">关于我们</a></li>
            </ul>
        </div>
        <div class="footer__address" style="margin-top:30px;">
            <h3>联系我们</h3>
            <ul class="footer__item">
                <li>合作热线：17337690200</li>
                <li>客服电话：17337920202</li>
                <li>公司邮箱：douyunkeji@126.com</li>
                <li>全国运营中心：河南省洛阳市西工区芳林大厦903-904室</li>
            </ul>
            <ul class="footer__item">
                <li style="font-size:18px;">(7*24小时服务)</li>
            </ul>
        </div>
        <div class="footer__us">
            <!--<h3>关注我们</h3>-->
            <div class="footer__item">
                <ul class="footer__item">
                    <li>
                        <img class="qcode-us" src="../static/home/img/wechatcode.jpg">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__center footer__links"><span>友情链接：</span>
        <span class="flink"><a href="https://baidu.com">百度</a></span>
        <span>|</span>
        <span class="flink"><a href="http://www.sohu.com/">搜狐网</a></span>
        <span>|</span>
       <span class="flink"><a href="#">58同城</a></span>
        <span>|</span>
        <span class="flink"><a href="#">投资加盟网</a></span>
        <span>|</span>
        <span class="flink"><a href="#">AI电销语音系统</a></span>
        <span>|</span>
        <span class="flink"><a href="#">电话机器人</a></span>
    </div>
    <div class="footer__bottom copyright">
        Copyright©2003-2018 www.ytrob.com,All Rights Reserved<br/>
        版权归河南抖云网络科技有限公司所有-电话机器人公司|机器人打电话|电话机器人系统|AI电话机器人<br/>
        投资有风险,选择需谨慎!
    </div>
    <script>
        $(function () {
            $("body").append('<div class="backToTop"><div class="backToTop-arr"><div><div>'), $("body").on("click", ".backToTop", function () {
                $("html,body").animate({scrollTop: 0}, 800)
            }), $(window).bind("scroll", function () {
                (document.documentElement.scrollTop || document.body.scrollTop) > 0 ? ($(".header").addClass("fixed"), $(".backToTop").show()) : ($(".header").removeClass("fixed"), $(".backToTop").hide())
            })
        })
    </script>
</footer>
