<header class="header">
    <div class="header__nav">
        <div class="logo" style="margin-right: -100px;"><a href="/">
            <img src="../static/home/img/douyunlogo.png" style="width:120px;height:41px;vertical-align: middle;"/>
            </a>
        </div>
        <nav class="navbar">
            <a class="{$pagenum==0?'selected':''}" href="/">首页</a>
            <a class="{$pagenum==1?'selected':''}" href="/product">产品中心</a>
            <a class="{$pagenum==5?'selected':''}" href="/coopercase">合作案例</a>
            <a class="{$pagenum==2?'selected':''}" href="/partner">加盟代理</a>
            <a class="{$pagenum==3?'selected':''}" href="/news">新闻资讯</a>
            <a class="{$pagenum==4?'selected':''}" href="/contact">关于我们</a>
        </nav>
        <div class="contact">
            <span class="contact__num">18638472227</span>
            <a class="btn primary freetrya" href="javascript:void(0)">免费试用</a>
            <a class="btn btn-login jointrya" href="javascript:void(0)">代理申请</a>
        </div>
    </div>
</header>