<div class="panel-heading">合作案例列表
    <a style="float:right;margin-top:-6px;" href="/admin/cooper/add" class="btn btn-primary">添加合作案例</a>
</div>

<div class="panel-body">
    <div class="box-body">
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">

                <div class="col-sm-12">
                    <table class="table table-hover dataTable" >
                        <thead>
                        <tr>
                            <th>合作公司</th>
                            <th>合作介绍</th>
                            <th>合作LOGO</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $cooperlist as $item}
                        <tr>
                            <td style="width:15%">{$item.cooper_name}</td>
                            <td style="width:45%">{$item.cooper_msg}</td>
                            <td style="width:15%"><img src="{$item.cooper_img}" style="width:50px;height:50px;"></td>
                            <td style="width:25%">
                                <a href="/admin/cooper/add/{$item.id}"><i class="fa fa-pencil fa-fw" style="font-size: 20px;" title="编辑"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                <a href="/admin/cooper/delete/{$item.id}" onclick="return confirm('确定要删除此合作公司么？请慎重操作!!!')"><i class="fa fa-trash-o fa-lg" style="font-size: 20px;" title="删除"></i></a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    <div class="col-sm-7" style="float: right">
                        {php}echo trim($cooperlist->render(),'"');{/php}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 ">
                    {$cooperlist[0]?"":"暂无数据"}
                </div>

            </div>
        </div>
    </div>

</div>

<script>
    function experexport() {
        var keyword=$("#keywords").val();
        window.location.href="/admin/exper/export?keyword="+keyword;
    }
</script>