<div class="banner">
    <div class="banner-content"></div>
</div>
<div class="about">
    <div class="title"><p class="title__txt">关于Yeta</p>
        <div class="title__line"></div>
    </div>
    <div class="about__list container"><p>
        Yeta电话机器人整合了科大讯飞研究院、中国科技大学讯飞语音实验室等在语音识别、语音交互等技术上多年的技术成果，搭载了讯飞研究院最新3.0版的语音识别引擎，精准获客，高效转化，助力企业降本增效。</p></div>
</div>
<div class="background">
    <div class="title"><p class="title__txt">研发背景</p>
        <div class="title__line"></div>
    </div>
    <div class="background__list container">
        <div class="background__item">
            <div class="background__icon icon1">
                <div></div>
                <p>讯飞技术</p></div>
            <div class="background__desc">科大讯飞研究院AI专家提供核心技术支撑，搭载全球领先的科大讯飞DFCNN语音识别引擎。</div>
        </div>
        <div class="background__item">
            <div class="background__icon icon2">
                <div></div>
                <p>专业团队</p></div>
            <div class="background__desc">核心产品团队拥有多年智能语音开发经验，脱胎于科大讯飞智能语音科研系统。</div>
        </div>
        <div class="background__item">
            <div class="background__icon icon3">
                <div></div>
                <p>话术精炼</p></div>
            <div class="background__desc">行业精英提炼最贴近业务真实场景的话术，让机器人更懂营销，更懂客户所需所想。</div>
        </div>
        <div class="background__item">
            <div class="background__icon icon4">
                <div></div>
                <p>持续优化</p></div>
            <div class="background__desc">百名训机师团队共同打造、不断打磨、优化出行业效果最佳的智能电话机器人。</div>
        </div>
    </div>
</div>
<div class="expect">
    <div class="title"><p class="title__txt">市场前景</p>
        <div class="title__line"></div>
    </div>
    <div class="expect_table container">
        <div class="expect_item expect_item1">
            <div class="expect_item_title">助力企业降本增效</div>
            <div class="expect_item_content">帮助企业实现获客业务的人工智能化变革，降低企业人力成本支出，提升获客效率。</div>
        </div>
        <div class="expect_item expect_item2">
            <div class="expect_item_title">掘金AI创富新时代</div>
            <div class="expect_item_content">为普通创业者提供快速切入人工智能产业的契机，共同掘金AI创富新时代。</div>
        </div>
        <div class="expect_item expect_item3">
            <div class="expect_item_title">接入行业领先语音技术</div>
            <div class="expect_item_content">助力拥有自主研发实力的企业从0到1建立智能外呼系统，接入行业领先的讯飞语音识别技术。</div>
        </div>
    </div>
</div>
<div class="future">
    <div class="title"><p class="title__txt">未来愿景</p>
        <div class="title__line"></div>
    </div>
    <div class="future__list container"><p>
        我们不仅是精通人工智能语音技术的专家，也是AI客服应用技术解决方案的提供商，在未来，Yeta电话机器人还将通过产品的不断更新与迭代为用户提供更加系统的服务，为智能化的客服时代插上腾飞的翅膀。</p></div>
</div>
<div class="connect">
    <div class="title"><p class="title__txt">联系我们</p>
        <div class="title__line"></div>
    </div>
    <div class="connect__content container">
        <div class="connect__item"><p>Yeta总部运营中心</p>
            <p>地址：安徽省合肥市高新区创新产业园2期F5栋</p>
            <p>电话：0551-69101456</p>
            <p>邮箱：pengwu8@iflytek.com</p></div>
        <div class="connect__item"><p>Yeta成都运营中心</p>
            <p>地址：成都市高新区天府三街天合凯旋广场2栋1003</p>
            <p>电话：153-9004-3885</p>
            <p>联系人：博毅</p></div>
    </div>
</div>