<div class="ab-banner">
    <div class="width1200 overflow">
        <h3>抖云科技AI电话机器人</h3>
        <p>电销行业的超级业务小能手，真人语音全自动智能沟通</p>
        <div class="txt"></div>
    </div>
</div>
<div class="abjaj width1200">
    <h2>about</h2>
    <div class="overflow">
        <div class="text">
            <h3>公司简介</h3>
            <p class="biao"></p>
            <p>深圳市菜乌科技有限公司是一家专门从事网络营销软件，AI人工智能，电话智能呼叫中心，微信营销系统等领域的平台开发与销售。</p>
            <p>公司开发总部位于深圳华强北CBD，全球最大的IT智能硬件中心，借助华强北创新的氛围，公司高速发展</p>
            <p>在当今社会条件下，各种营销推广的成本已经越来越高；电话销售也面临着成本上升。</p>
            <p>为了解决各中小企业的这一问题，公司相继推出多款智能软件，降低了企业的营销的成本，提升的企业的工作效率与销售业绩。包括 电销电话机器人。小程序SAAS制作平台</p>
        </div>
        <div class="img">
            <img src="../static/home/img/about1.jpg" alt="">
        </div>
    </div>

    <h2 style="margin-top:50px">contact<a name="contact"></a></h2>
    <div class="overflow">
        <div class="text">
            <h3>联系我们</h3>
            <p class="biao"></p>
            <p> <img class="caico" src="../static/home/img/ca_tel.png" alt="">联系电话：18124542930</p>
            <p> <img class="caico" src="../static/home/img/ca_rx.png" alt="">联系手机：18124542930</p>
            <p> <img class="caico" src="../static/home/img/ca_cz.png" alt="">公司传真：18124542930</p>
            <p> <img class="caico" src="../static/home/img/ca_em.png" alt="">电子邮箱：11737693@qq.com</p>
            <p class="ad">
                <img class="caico" src="../static/home/img/ca_ad.png" alt="">公司地址：深圳市福田区华发北路中电信息国际创客中心3楼.</p>
        </div>
        <div class="img">
            <img src="../static/home/img/about2.jpg" alt="">
        </div>
    </div>
</div>