<style>
    .service-field{
        min-width:1200px;
        background:#f3f3f3;
        padding:75px 0;
    }
    .service-field h2{
        color: #333333;
        font-size: 36px;
        margin-bottom: 70px;
    }
    .field-text{

    }
    .field-block{
        width: 190px;
        height: 190px;
        background: #fff;
        color: #666;
        text-align: center;
        font-size: 16px;
        display: inline-block;
        margin: 0px 31px 31px 0;
        cursor: pointer;
        transition: 0.2s;
        float:left;
    }
    .field-block dt img {
        display: block;
        margin: 0 auto;
        padding: 40px 0;
    }
</style>
<div class="banner">
    <div class="banner-content">
        <!--<h3 class="banner-title">诚招各大城市合伙人，轻松掘金AI时代</h3>-->
        <!--<a onclick="applymsg()" class="banner-btn">加盟抖云</a>-->
    </div>
</div>
<!--客户案例 开始-->
<div class="customer-case" style="background:#fff">
    <div class="wrap">
        <h2 class="text-center line-green animated fadeInDown">客户案例</h2>
        <div class="customer-case-infor">
            <div class="customer-case-icon animated fadeInLeft">
                <img src="../static/home/img/index3_43.png" alt="">
                <span>作为一家专业提供保险经纪服务的公司,选择跃讯客服云呼叫后,让我们 可以成功应对大量客户的咨询</span>
            </div>
            <div class="customer-case-icon animated slideInDown">
                <img src="../static/home/img/index3_45.png" alt="">
                <span>为客户提供优质服务是我们的使命.选择了跃讯云客服呼叫中心后,客户 好评率不断增多,期待未来再创佳绩</span>
            </div>
            <div class="customer-case-icon animated fadeInRight">
                <img src="../static/home/img/index3_48.png" alt="">
                <span>我们致力于通过信息化管理,提高客 户设计选型的效率.选择跃讯云客服 后,不管是从何种渠道来的咨询,客服部门都能快速反应</span>
            </div>
            <div class="customer-case-icon animated customer1 slideInLeft" style="margin-top:63px;">
                <img src="../static/home/img/index3_50.png" alt="">
                <span>我们的宗旨是为用户提供五星级的家,智小七机器人帮助我们为用户提供五星级的服务</span>
            </div>
            <div class="customer-case-icon animated customer2 fadeInUp" style="margin-top:63px;">
                <img src="../static/home/img/index3_52.png" alt="">
                <span>雇佣智小七电话机器人后,减少了企 业运营成本的同时,电销部门业绩也在快速增长,一举多得</span>
            </div>
            <div class="customer-case-icon animated customer3 slideInRight" style="margin-top:63px;">
                <img src="../static/home/img/index3_54.png" alt="">
                <span>作为一家软件提供商,我们密切关注 着SaaS模式的发展,跃讯云客服帮助我们为客户提供全生命周期的服务</span>
            </div>
        </div>
    </div>
</div>
<!--客户案例 结束-->

<!--服务领域  开始-->
<div class="service-field">
    <div class="wrap">
        <h2 class="text-center line-green animated serviceTitle slideInDown">服务领域</h2>
        <div class="field-text clearfix">
            <div class="field-block animated service1 bounceIn">
                <dl>
                    <dt><img src="../static/home/img/khal-jr-g.png" alt="" data-img="../static/home/img/khal-jr-w.png"></dt>
                    <dd>互联网金融</dd>
                </dl>
            </div>
            <div class="field-block animated service2 bounceIn" style="background: rgb(255, 255, 255); color: rgb(51, 51, 51);">
                <dl>
                    <dt><img src="../static/home/img/khal-sh-g.png" alt="" data-img="../static/home/img/khal-sh-w.png"></dt>
                    <dd>本地生活O2O</dd>
                </dl>
            </div>
            <div class="field-block animated service3 bounceIn" style="background: rgb(255, 255, 255); color: rgb(51, 51, 51);">
                <dl>
                    <dt><img src="../static/home/img/khal-yl-g.png" alt="" data-img="../static/home/img/khal-yl-w.png"></dt>
                    <dd>医疗健康</dd>
                </dl>
            </div>
            <div class="field-block animated service4 bounceIn">
                <dl>
                    <dt><img src="../static/home/img/khal-jt-g.png" alt="" data-img="../static/home/img/khal-jt-w.png"></dt>
                    <dd>汽车交通</dd>
                </dl>
            </div>
            <div class="field-block animated service5 bounceIn" style="margin:0 0 31px 0">
                <dl>
                    <dt><img src="../static/home/img/khal-jy-g.png" alt="" data-img="../static/home/img/khal-jy-w.png"></dt>
                    <dd>教育培训</dd>
                </dl>
            </div>


            <div class="field-block animated service6 bounceIn" style="margin-bottom:0;">
                <dl>
                    <dt><img src="../static/home/img/khal-ds-g.png" alt="" data-img="../static/home/img/khal-ds-w.png"></dt>
                    <dd>电商微商</dd>
                </dl>
            </div>
            <div class="field-block animated service7 bounceIn" style="margin-bottom: 0px; background: rgb(255, 255, 255); color: rgb(51, 51, 51);">
                <dl>
                    <dt><img src="../static/home/img/khal-ly-g.png" alt="" data-img="../static/home/img/khal-ly-w.png"></dt>
                    <dd>在线旅游</dd>
                </dl>
            </div>
            <div class="field-block animated service8 bounceIn" style="margin-bottom: 0px; background: rgb(255, 255, 255); color: rgb(51, 51, 51);">
                <dl>
                    <dt><img src="../static/home/img/khal-qy-g.png" alt="" data-img="../static/home/img/khal-qy-w.png"></dt>
                    <dd>企业服务</dd>
                </dl>
            </div>
            <div class="field-block animated service9 bounceIn" style="margin-bottom: 0px; background: rgb(255, 255, 255); color: rgb(51, 51, 51);">
                <dl>
                    <dt><img src="../static/home/img/khal-wh-g.png" alt="" data-img="../static/home/img/khal-wh-w.png"></dt>
                    <dd>文化娱乐</dd>
                </dl>
            </div>
            <div class="field-block animated service10 bounceIn" style="margin: 0px; background: rgb(255, 255, 255); color: rgb(51, 51, 51);">
                <p style="line-height: 190px;">更多领域
                    尽情期待......</p>
            </div>
        </div>
    </div>
</div>
<!--服务领域  结束-->

<!--免费试用-->
<div class="trial">
    <div class="wrap">
        <h2 class="text-center"> 免费试用，为你的客户提供优质服务</h2>
        <div class="trial-con clearfix">
            <input type="number" placeholder="请在这里输入您的手机号"><span class="btn-green">免费试用</span>
        </div>
    </div>
</div>
<!--免费试用-->

{js href="/static/home/js/partner.bdca54863b9e90496eeb.js" /}
<script>
    $(function(){
        $(".field-block").mouseover(function(){
            $(this).css({"background":"#0eb288","color":"#fff"});
            var img1=$(this).find("img").attr("src");
            var img2=$(this).find("img").attr("data-img");
            $(this).find("img").attr({"src":img2,"data-img":img1})
        })
        $(".field-block").mouseout(function(){
            $(this).css({"background":"#fff","color":"#333"})
            var img1=$(this).find("img").attr("src");
            var img2=$(this).find("img").attr("data-img");
            $(this).find("img").attr({"src":img2,"data-img":img1})
        })



    })

</script>