<style>
    .service-field{
        min-width:1200px;
        background:#f3f3f3;
        padding:75px 0;
    }
    .service-field h2{
        color: #333333;
        font-size: 36px;
        margin-bottom: 70px;
    }
    .field-text{

    }
    .field-block{
        width: 190px;
        height: 190px;
        background: #fff;
        color: #666;
        text-align: center;
        font-size: 16px;
        display: inline-block;
        margin: 0px 31px 31px 0;
        cursor: pointer;
        transition: 0.2s;
        float:left;
    }
    .field-block dt img {
        display: block;
        margin: 0 auto;
        padding: 40px 0;
    }
</style>
<div class="banner">
    <div class="banner-content">
        <h3 class="banner-title">客户案例</h3>
        <h5 style="color:white;font-size:2rem;margin-top:10px;">他们正在使用抖云&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重新定义客户服务</h5>
    </div>
</div>
<!--客户案例 开始-->
<div class="customer-case" style="background:#fff">
    <div class="wrap">
        <h2 class="text-center line-green animated fadeInDown">客户案例</h2>
        <div class="customer-case-infor">

            {foreach name='coopercase' item='item' key='k'}
            <div class="customer-case-icon animated {$item.class_name}" style="{$k>2?'margin-top:63px;':''}">
                <img src="{$item.cooper_img}" alt="">
                <span>{$item.cooper_msg}</span>
            </div>
            {/foreach}
        </div>
    </div>
</div>
<!--客户案例 结束-->

<!--服务领域  开始-->
<div class="service-field">
    <div class="wrap">
        <h2 class="text-center line-green animated serviceTitle slideInDown">服务领域</h2>
        <div class="field-text clearfix">
            <div class="field-block animated service1 bounceIn">
                <dl>
                    <dt><img src="../static/home/img/khal-jr-g.png" alt="" data-img="../static/home/img/khal-jr-w.png"></dt>
                    <dd>互联网金融</dd>
                </dl>
            </div>
            <div class="field-block animated service2 bounceIn" style="background: rgb(255, 255, 255); color: rgb(51, 51, 51);">
                <dl>
                    <dt><img src="../static/home/img/khal-sh-g.png" alt="" data-img="../static/home/img/khal-sh-w.png"></dt>
                    <dd>本地生活O2O</dd>
                </dl>
            </div>
            <div class="field-block animated service3 bounceIn" style="background: rgb(255, 255, 255); color: rgb(51, 51, 51);">
                <dl>
                    <dt><img src="../static/home/img/khal-yl-g.png" alt="" data-img="../static/home/img/khal-yl-w.png"></dt>
                    <dd>医疗健康</dd>
                </dl>
            </div>
            <div class="field-block animated service4 bounceIn">
                <dl>
                    <dt><img src="../static/home/img/khal-jt-g.png" alt="" data-img="../static/home/img/khal-jt-w.png"></dt>
                    <dd>汽车交通</dd>
                </dl>
            </div>
            <div class="field-block animated service5 bounceIn" style="margin:0 0 31px 0">
                <dl>
                    <dt><img src="../static/home/img/khal-jy-g.png" alt="" data-img="../static/home/img/khal-jy-w.png"></dt>
                    <dd>教育培训</dd>
                </dl>
            </div>


            <div class="field-block animated service6 bounceIn" style="margin-bottom:0;">
                <dl>
                    <dt><img src="../static/home/img/khal-ds-g.png" alt="" data-img="../static/home/img/khal-ds-w.png"></dt>
                    <dd>电商微商</dd>
                </dl>
            </div>
            <div class="field-block animated service7 bounceIn" style="margin-bottom: 0px; background: rgb(255, 255, 255); color: rgb(51, 51, 51);">
                <dl>
                    <dt><img src="../static/home/img/khal-ly-g.png" alt="" data-img="../static/home/img/khal-ly-w.png"></dt>
                    <dd>在线旅游</dd>
                </dl>
            </div>
            <div class="field-block animated service8 bounceIn" style="margin-bottom: 0px; background: rgb(255, 255, 255); color: rgb(51, 51, 51);">
                <dl>
                    <dt><img src="../static/home/img/khal-qy-g.png" alt="" data-img="../static/home/img/khal-qy-w.png"></dt>
                    <dd>企业服务</dd>
                </dl>
            </div>
            <div class="field-block animated service9 bounceIn" style="margin-bottom: 0px; background: rgb(255, 255, 255); color: rgb(51, 51, 51);">
                <dl>
                    <dt><img src="../static/home/img/khal-wh-g.png" alt="" data-img="../static/home/img/khal-wh-w.png"></dt>
                    <dd>文化娱乐</dd>
                </dl>
            </div>
            <div class="field-block animated service10 bounceIn" style="margin: 0px; background: rgb(255, 255, 255); color: rgb(51, 51, 51);">
                <p style="line-height: 190px;">更多领域
                    尽情期待......</p>
            </div>
        </div>
    </div>
</div>
<!--服务领域  结束-->

<!--免费试用-->
<div class="trial">
    <div class="wrap">
        <h2 class="text-center"> 免费试用，为你的客户提供优质服务</h2>
        <div class="trial-con clearfix">
            <input type="number" placeholder="请在这里输入您的手机号"><span class="btn-green">免费试用</span>
        </div>
    </div>
</div>
<!--免费试用-->

{js href="/static/home/js/partner.bdca54863b9e90496eeb.js" /}
<script>
    $(function(){
        $(".field-block").mouseover(function(){
            $(this).css({"background":"#0078cc","color":"#fff"});
            var img1=$(this).find("img").attr("src");
            var img2=$(this).find("img").attr("data-img");
            $(this).find("img").attr({"src":img2,"data-img":img1})
        })
        $(".field-block").mouseout(function(){
            $(this).css({"background":"#fff","color":"#333"})
            var img1=$(this).find("img").attr("src");
            var img2=$(this).find("img").attr("data-img");
            $(this).find("img").attr({"src":img2,"data-img":img1})
        })



    })

</script>