
<div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
        <div class="swiper-slide slide1" data-swiper-slide-index="0"></div>
        <div class="swiper-slide slide2 swiper-slide-prev" data-swiper-slide-index="1"></div>
        <div class="swiper-slide slide3 swiper-slide-active" data-swiper-slide-index="2"></div>
        <div class="swiper-slide slide4 swiper-slide-next" data-swiper-slide-index="3"></div>
    </div>
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
    </div>

</div>


<div style="margin-bottom: 28px;margin-top: 23px;">
    <h2 style="text-align: center;margin-bottom: 1px;color: #0078cc;font-size: 2rem">行业应用案例试听</h2>
    <h2 id="audio__title" class="subtitle">真人语音 智能对话</h2>
    <div class="sample__audios">
        <div class="sample__item audio-dk"><p class="sample__name">房地产行业</p>
            <p class="sample__desc">开发商新房楼盘销售,门面销售,二手房,中介房产邀约与销售</p>
            <div class="sample__audio">
                <audio style="width:90%">
                    <source src="../static/home/img/audio/au-fdc.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
        <div class="sample__item audio-fchan"><p class="sample__name">装修行业</p>
            <p class="sample__desc">锁定精准客户,让客户与企业直接建立合作,高效率低成本</p>
            <div class="sample__audio">
                <audio style="width:90%">
                    <source src="../static/home/img/audio/bm-zx.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
        <div class="sample__item audio-zx">
            <p class="sample__name">金融行业</p>
            <p class="sample__desc">贷款业务、保险业务的新客户开拓,老客户回访,到期提醒催促</p>
            <div class="sample__audio">
                <audio style="width:90%">
                    <source src="../static/home/img/audio/yhdk.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
        <div class="sample__item audio-gp">
            <p class="sample__name">保险证券</p>
            <p class="sample__desc">保险证券行业的新客户精准筛选,意向开发,售后维护等</p>
            <div class="sample__audio">
                <audio style="width:90%">
                    <source src="../static/home/img/audio/bm-zj.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
</div>
<div class="speech">

    <div id="js_speechForm" class="speech__sms">
        <p class="speech__desc">免费体验智能电话</p>
        <div style="margin:0 auto;width:300px;margin-bottom: 50px;">
            <div style="width:50px;height:1px;background-color: white;float: left;margin-top: 13px;"></div>
            <div style="color:#e2e2e2;float: left;font-size:1.3rem">&nbsp;抢先感受 AI机器人&nbsp;</div>
            <div style="width:50px;height:1px;background-color: white;float: left;margin-top: 13px;"></div>
        </div>


        <div class="speech__form" style="clear: both;">
            <div class=""><input id="js_inputPhone" class="speech__input input-phone" type="text"
                                 placeholder="请输入您的手机号码">
                <div id="js_phoneError" class="input--error vhidden"></div>
            </div>
            <div>
                <div class="speech__code"><span id="jsGetCode" class="speech__code__btn">获取验证码</span></div>
                <input id="js_inputCode" class="speech__input input-code" type="text" placeholder="验证码">
                <div id="js_smsCodeError" class="input--error vhidden"></div>
            </div>
            <div>
                <button id="js_expBtn" class="speech__btn">立即体验</button>
            </div>
        </div>
    </div>
    <div id="js_speechSuccess" class="speech__success hidden"><p class="font20">电话正在呼入中，请稍后…</p>
        <p>请注意接听来自0551-69101460的电话</p></div>
</div>
<div class="news">
    <h2 style="text-align: center;margin-bottom: 1px;color: #0078cc;font-size: 2rem;padding-top:23px;">新闻动态</h2>
    <h2 id="news__title" class="subtitle">产品动态 行业资讯</h2>
    <div class="news__list container">
        {foreach $newslist as $item}
        <div class="news__item" onclick="window.open('/newdetail/{$item.id}')">
            <div class="news__content">
                <div class="news__img"><img src="..{$item.news_img}"></div>
                <p class="news__title">{$item.news_title}</p>
                <p class="news__date">时间:{$item.create_time|date="Y-m-d"}&nbsp;&nbsp;浏览量:{$item.read_num}</p>
                <p class="news__intro">{$item.news_msg|mb_substr=0,53,'utf-8'}... </p>
            </div>
        </div>
        {/foreach}
    </div>
    <div class="news__list container" style="margin-top:20px;">
        {foreach $newslist2 as $item}
        <div class="news__item" onclick="window.open('/newdetail/{$item.id}')">
            <div class="news__content">
                <div class="news__img"><img src="..{$item.news_img}"></div>
                <p class="news__title">{$item.news_title}</p>
                <p class="news__date">时间:{$item.create_time|date="Y-m-d"}&nbsp;&nbsp;浏览量:{$item.read_num}</p>
                <p class="news__intro">{$item.news_msg|mb_substr=0,53,'utf-8'} ... </p>
            </div>
        </div>
        {/foreach}
    </div>
    <div class="news__btn"><a href="/news" class="btn-all">查看更多资讯</a></div>
</div>
<div class="technology" style="margin-top:23px">
    <h2 id="technology__title" class="subtitle" style="color:#0078cc;font-size: 2rem">抖云智能电话机器人的技术支持</h2>
    <div class="tabs">
        <div class="tab selected" onmouseover="tabchange(0,this)">自动外呼</div>
        <div class="tab" onmouseover="tabchange(1,this)">完全真人对话</div>
        <div class="tab" onmouseover="tabchange(2,this)">话术自主上传</div>
        <div class="tab" onmouseover="tabchange(3,this)">全程录音</div>
        <div class="tab" onmouseover="tabchange(4,this)">支持打断</div>
        <div class="tab" onmouseover="tabchange(5,this)">意向客户识别</div>
    </div>
    <div class="technology__list" id="zdwh_data">
        <div class="technology__item">
            <div class="technology__txt">
                <div style="font-size: 2rem;color:#495361">自动日呼1200通</div>
                <div style="margin-top:20px">客户数据一次性导入</div>
                <div>设定时间自动外呼,无需人工去干预</div>
                <div style="color:#95979f;float:left;margin-right:30px;margin-top:20px;">
                    <li>上传数据名单</li>
                    <li>拨打时段设定</li>
                    <li>选择对应话术</li>
                    <li>选择外显号码</li>
                </div>
                <div style="color:#95979f;margin-top:20px;">
                    <li>语音自动识别</li>
                    <li>精准回复问题</li>
                    <li>意向客户筛选</li>
                    <li>统计报表生成</li>
                </div>
                <div style="clear:both;margin-top:20px;">
                    <a class="indextrya" href="javascript:void(0)">立即体验</a>
                </div>
            </div>
            <div class="technology_img"
                 style="background-position: -13px -2319px;height: 278px;width: 468px;float:left"></div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="technology__list" id="wqzrdh_data" style="display: none">
        <div class="technology__item">
            <div class="technology__txt">
                <div style="font-size: 2rem;color:#495361">智能真人沟通</div>
                <div style="margin-top:20px">真人语音交互，各行各业专业知识解答</div>
                <div style="color:#95979f;float:left;margin-right:30px;margin-top:20px;">
                    <li>ASR，NLP，TTS技术</li>
                    <li>响应时间少至2秒</li>
                    <li>智能真人对话沟通</li>
                </div>
                <div style="color:#95979f;margin-top:20px;">
                    <li>语音意图识别</li>
                    <li>行业话术定制</li>
                </div>
                <div style="clear:both;margin-top:50px;">
                    <a class="indextrya" href="javascript:void(0)">立即体验</a>
                </div>

            </div>
            <div class="technology_img"
                 style="height: 314px;width: 408px;background-position: -48px -1276px;float:left"></div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="technology__list" id="hszzsc_data" style="display: none">
        <div class="technology__item">
            <div class="technology__txt">
                <div style="font-size: 2rem;color:#495361">全行业话术专业定制</div>
                <div style="margin-top:20px">固定行业话术录制，实现意向客户精确筛选</div>
                <div style="color:#95979f;float:left;margin-right:30px;margin-top:20px;">
                    <li>7*24小时在线</li>
                    <li>话术自主上传</li>
                    <li>意向客户识别</li>
                </div>
                <div style="color:#95979f;margin-top:20px;margin-bottom:20px;">
                    <li>多通道外呼</li>
                    <li>支持自主录音</li>
                    <li>客户数据一键批量导入</li>
                </div>
                <a class="indextrya" href="javascript:void(0)">立即体验</a>
            </div>
            <div class="technology_img"
                 style="height: 375px;width: 478px;background-position: -13px -1943px;float:left"></div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="technology__list" id="qcly_data" style="display: none">
        <div class="technology__item">
            <div class="technology__txt">
                <div style="font-size: 2rem;color:#495361">外呼电话全程实时录音</div>
                <div style="margin-top:20px">外呼电话均可录音,试听,查询</div>
                <div style="color:#95979f;float:left;margin-right:30px;margin-top:20px;">
                    <li>录音自动转换文字</li>
                    <li>已接电话统计</li>
                    <li>未接电话统计</li>
                </div>
                <div style="color:#95979f;margin-top:20px;margin-bottom:20px;">
                    <li>永久保存</li>
                    <li>实时下载</li>
                    <li>客户标记</li>
                </div>
                <a class="indextrya" href="javascript:void(0)">立即体验</a>
            </div>
            <div class="technology_img"
                 style="height: 330px;width: 500px;background-position: 0 -1602px;float:left"></div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="technology__list" id="zcdd_data" style="display: none">
        <div class="technology__item">
            <div class="technology__txt">
                <div style="font-size: 2rem;color:#495361">真人对话可实时打断</div>
                <div style="margin-top:20px">对话过程中遇人打断，机器停止当下对话，重新进行识别</div>
                <div style="color:#95979f;float:left;margin-right:30px;margin-top:20px;">
                    <li>1-2秒快速反应</li>
                    <li>停止当下对话</li>
                    <li>重新识别话术</li>
                </div>
                <div style="color:#95979f;margin-top:20px;">
                    <li>完美媲美真人体验</li>
                    <li>阿里人工智能技术</li>
                </div>
                <div style="clear:both;margin-top:50px;">
                    <a class="indextrya" href="javascript:void(0)">立即体验</a>
                </div>

            </div>
            <div class="technology_img"
                 style="height: 360px;width: 455px;background-position: -32px -885px;float:left"></div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="technology__list" id="yxkhsb_data" style="display: none">
        <div class="technology__item">
            <div class="technology__txt">
                <div style="font-size: 2rem;color:#495361">客户数据精准分析管理</div>
                <div style="margin-top:20px">客户类型自动标记识别，意向客户自动转接</div>
                <div style="color:#95979f;float:left;margin-right:30px;margin-top:20px;">
                    <li>意向客户标记筛选</li>
                    <li>用户兴趣智能识别</li>
                    <li>统计报表一键生成</li>
                </div>
                <div style="color:#95979f;margin-top:20px;margin-bottom:20px;">
                    <li>客户类别自主分类</li>
                    <li>潜在客户微信提示</li>
                    <li>用户意图精准识别</li>
                </div>
                <a class="indextrya" href="javascript:void(0)">立即体验</a>
            </div>
            <div class="technology_img" style="height: 370px;width: 500px;background-position: 0 -5px;float:left"></div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>

<div class="detail-outer-item gray fixheight">
    <h1></h1>
    <div class="detail-nav-outer">
        <ul class="detail-nav">
            <li class="">
                <div class="logo-outer">
                    <span class="image" data-key="increase"></span>
                    <br>
                    <span class="text">效率提升</span>
                </div>
                <div class="text-outer">
                    <ul class="text-ul">
                        <li class="">日拨1200通</li>
                        <li class="">大数据分析</li>
                        <li class="">主动营销服务</li>
                        <li class="active">专业话术定制</li>
                    </ul>
                    <ul class="text-ul">
                        <li>人工效率10倍</li>
                        <li>帮你更懂客户</li>
                        <li class="">专注线上转化</li>
                        <li class="active">真人语音对话</li>
                    </ul>
                </div>
            </li>

            <li class="active">
                <div class="logo-outer">
                    <span class="image" data-key="cost"></span>
                    <br>
                    <span class="text">成本降低</span>
                </div>

                <div class="text-outer">
                    <ul class="text-ul">
                        <li class="active">号码批量导入</li>
                        <li class="">意向客户自动识别</li>
                        <li class="">机器人智能学习</li>
                        <li class="">云端技术部署</li>
                    </ul>

                    <ul class="text-ul">
                        <li class="active">机器人自动呼出</li>
                        <li class="">可人工实时跟进</li>
                        <li class="">知识建立更全面</li>
                        <li class="">运营成本更低</li>
                    </ul>
                </div>
            </li>
            <li class="">
                <div class="logo-outer">
                    <span class="image" data-key="manager"></span>
                    <br>
                    <span class="text">业绩提升</span>
                </div>

                <div class="text-outer">
                    <ul class="text-ul">
                        <li class="active">访客信息分析</li>
                        <li class="">客服质量监控</li>
                        <li class="">数据可视化呈现</li>
                    </ul>
                    <ul class="text-ul">
                        <li class="">360°了解客户</li>
                        <li class="active">完善绩效考核</li>

                        <li class="">查询管理更清晰</li>
                    </ul>
                </div>
            </li>

            <li class="">
                <div class="logo-outer">
                    <span class="image" data-key="expierence"></span>
                    <br>
                    <span class="text">灵活部署</span>
                </div>
                <div class="text-outer">
                    <ul class="text-ul">
                        <li class="">呼叫时间自主设定</li>
                        <li class="active">分布式呼叫部署</li>
                        <li class="">呼出数据实时显示</li>
                        <li>智能便捷服务引导</li>
                    </ul>
                    <ul class="text-ul">
                        <li class="">拨打计划自由设置</li>
                        <li class="active">有网即可使用</li>
                        <li class="">关键词识别无限制</li>
                        <li>语音文件实时替换</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="partner" style="margin-top:23px;">
    <h2 style="text-align: center;margin-bottom: 1px;color: #0078cc;font-size: 2rem">合作案例</h2>
    <h2 id="partner__title" class="subtitle">合作发展 共创未来</h2>
    <div class="partner__list container">
        <div class="partner__item partner-1"></div>
        <div class="partner__item partner-2"></div>
        <div class="partner__item partner-3"></div>
        <div class="partner__item partner-4"></div>
        <div class="partner__item partner-5"></div>
        <div class="partner__item partner-6"></div>
        <div class="partner__item partner-7"></div>
        <div class="partner__item partner-8"></div>
        <div class="partner__item partner-9"></div>
        <div class="partner__item partner-10"></div>
        <div class="partner__item partner-11"></div>
        <div class="partner__item partner-12"></div>
    </div>
</div>

<script>
    $(".detail-nav").delegate("li", "mouseover", function (e) {
        $(e.currentTarget).addClass("active").siblings().removeClass("active")
    })

    function tabchange(datatype, obj) {
        $(".tab").removeClass("selected");
        $(obj).addClass("selected");
        switch (datatype) {
            case 0://自动外呼
                $("#zdwh_data").show();
                $("#wqzrdh_data").hide();
                $("#hszzsc_data").hide();
                $("#qcly_data").hide();
                $("#zcdd_data").hide();
                $("#yxkhsb_data").hide();
                break;
            case 1: //完全真人对话
                $("#wqzrdh_data").show();
                $("#hszzsc_data").hide();
                $("#qcly_data").hide();
                $("#zcdd_data").hide();
                $("#yxkhsb_data").hide();
                $("#zdwh_data").hide();
                break;
            case 2://话术自主上传
                $("#hszzsc_data").show();
                $("#qcly_data").hide();
                $("#zcdd_data").hide();
                $("#yxkhsb_data").hide();
                $("#wqzrdh_data").hide();
                $("#zdwh_data").hide();
                break;
            case 3://全程录音
                $("#qcly_data").show();
                $("#zcdd_data").hide();
                $("#yxkhsb_data").hide();
                $("#hszzsc_data").hide();
                $("#wqzrdh_data").hide();
                $("#zdwh_data").hide();
                break;
            case 4://支持打断
                $("#zcdd_data").show();
                $("#yxkhsb_data").hide();
                $("#qcly_data").hide();
                $("#hszzsc_data").hide();
                $("#wqzrdh_data").hide();
                $("#zdwh_data").hide();
                break;
            case 5://意向客户识别
                $("#yxkhsb_data").show();
                $("#zcdd_data").hide();
                $("#qcly_data").hide();
                $("#hszzsc_data").hide();
                $("#wqzrdh_data").hide();
                $("#zdwh_data").hide();
                break;
        }

    }
</script>
