<div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-active"
             style="background: url(&quot;https://agent.kxjlcc.com/kcdn/yeta/banner/banner-1.png&quot;) center center / cover no-repeat; width: 1265px;"></div>
    </div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
<div class="sample" style=""><h2 class="subtitle">试听各行业场景</h2>
    <div class="sample__audios">
        <div class="sample__item audio-dk"><p class="sample__name">宽带到期提醒</p>
            <p class="sample__desc">宽带业务到期续费通知，告别人工枯燥、单调提醒</p>
            <div class="sample__audio"><span class="mejs__offscreen">Audio Player</span>
                <div id="mep_0" class="mejs__container mejs__container-keyboard-inactive mejs__audio" tabindex="0"
                     role="application" aria-label="Audio Player" style="width: 300px; height: 40px; min-width: 71px;">
                    <div class="mejs__inner">
                        <div class="mejs__mediaelement">
                            <mediaelementwrapper id="mejs_6751720875352947">
                                <audio width="300" preload="none" src="https://www.xfyeta.com/static/audio/daoqi.mp3"
                                       id="mejs_6751720875352947_html5"></audio>
                            </mediaelementwrapper>
                        </div>
                        <div class="mejs__layers">
                            <div class="mejs__poster mejs__layer"
                                 style="display: none; width: 300px; height: 40px;"></div>
                        </div>
                        <div class="mejs__controls">
                            <div class="mejs__button mejs__playpause-button mejs__play">
                                <button type="button" aria-controls="mep_0" title="Play" aria-label="Play"
                                        tabindex="0"></button>
                            </div>
                            <div class="mejs__time-rail"><span class="mejs__time-total mejs__time-slider" role="slider"
                                                               tabindex="0" aria-label="Time Slider" aria-valuemin="0"
                                                               aria-valuemax="NaN" aria-valuenow="0"
                                                               aria-valuetext="00:00"><span class="mejs__time-buffering"
                                                                                            style="display: none;"></span><span
                                    class="mejs__time-loaded"></span><span class="mejs__time-current"></span><span
                                    class="mejs__time-hovered no-hover"></span><span class="mejs__time-handle"><span
                                    class="mejs__time-handle-content"></span></span><span class="mejs__time-float"><span
                                    class="mejs__time-float-current">00:00</span><span
                                    class="mejs__time-float-corner"></span></span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sample__item audio-fchan"><p class="sample__name">话费低余额提醒</p>
            <p class="sample__desc">话费低余额语音对话提醒，极大节约人工时间</p>
            <div class="sample__audio"><span class="mejs__offscreen">Audio Player</span>
                <div id="mep_1" class="mejs__container mejs__container-keyboard-inactive mejs__audio" tabindex="0"
                     role="application" aria-label="Audio Player" style="width: 300px; height: 40px; min-width: 71px;">
                    <div class="mejs__inner">
                        <div class="mejs__mediaelement">
                            <mediaelementwrapper id="mejs_15841713095289833">
                                <audio width="300" preload="none" src="https://www.xfyeta.com/static/audio/Tka.mp3"
                                       id="mejs_15841713095289833_html5"></audio>
                            </mediaelementwrapper>
                        </div>
                        <div class="mejs__layers">
                            <div class="mejs__poster mejs__layer"
                                 style="display: none; width: 300px; height: 40px;"></div>
                        </div>
                        <div class="mejs__controls">
                            <div class="mejs__button mejs__playpause-button mejs__play">
                                <button type="button" aria-controls="mep_1" title="Play" aria-label="Play"
                                        tabindex="0"></button>
                            </div>
                            <div class="mejs__time-rail"><span class="mejs__time-total mejs__time-slider" role="slider"
                                                               tabindex="0" aria-label="Time Slider" aria-valuemin="0"
                                                               aria-valuemax="NaN" aria-valuenow="0"
                                                               aria-valuetext="00:00"><span class="mejs__time-buffering"
                                                                                            style="display: none;"></span><span
                                    class="mejs__time-loaded"></span><span class="mejs__time-current"></span><span
                                    class="mejs__time-hovered no-hover"></span><span class="mejs__time-handle"><span
                                    class="mejs__time-handle-content"></span></span><span class="mejs__time-float"><span
                                    class="mejs__time-float-current">00:00</span><span
                                    class="mejs__time-float-corner"></span></span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sample__item audio-zx"><p class="sample__name">汽车4S店满意度回访</p>
            <p class="sample__desc">及时聆听客户宝贵意见，回访自然、顺畅</p>
            <div class="sample__audio"><span class="mejs__offscreen">Audio Player</span>
                <div id="mep_2" class="mejs__container mejs__container-keyboard-inactive mejs__audio" tabindex="0"
                     role="application" aria-label="Audio Player" style="width: 300px; height: 40px; min-width: 71px;">
                    <div class="mejs__inner">
                        <div class="mejs__mediaelement">
                            <mediaelementwrapper id="mejs_42587314979813873">
                                <audio width="300" preload="none" src="https://www.xfyeta.com/static/audio/huifang.mp3"
                                       id="mejs_42587314979813873_html5"></audio>
                            </mediaelementwrapper>
                        </div>
                        <div class="mejs__layers">
                            <div class="mejs__poster mejs__layer"
                                 style="display: none; width: 300px; height: 40px;"></div>
                        </div>
                        <div class="mejs__controls">
                            <div class="mejs__button mejs__playpause-button mejs__play">
                                <button type="button" aria-controls="mep_2" title="Play" aria-label="Play"
                                        tabindex="0"></button>
                            </div>
                            <div class="mejs__time-rail"><span class="mejs__time-total mejs__time-slider" role="slider"
                                                               tabindex="0" aria-label="Time Slider" aria-valuemin="0"
                                                               aria-valuemax="NaN" aria-valuenow="0"
                                                               aria-valuetext="00:00"><span class="mejs__time-buffering"
                                                                                            style="display: none;"></span><span
                                    class="mejs__time-loaded"></span><span class="mejs__time-current"></span><span
                                    class="mejs__time-hovered no-hover"></span><span class="mejs__time-handle"><span
                                    class="mejs__time-handle-content"></span></span><span class="mejs__time-float"><span
                                    class="mejs__time-float-current">00:00</span><span
                                    class="mejs__time-float-corner"></span></span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sample__item audio-gp"><p class="sample__name">会议邀约</p>
            <p class="sample__desc">邀约参会客户精准、高效</p>
            <div class="sample__audio"><span class="mejs__offscreen">Audio Player</span>
                <div id="mep_3" class="mejs__container mejs__container-keyboard-inactive mejs__audio" tabindex="0"
                     role="application" aria-label="Audio Player" style="width: 300px; height: 40px; min-width: 71px;">
                    <div class="mejs__inner">
                        <div class="mejs__mediaelement">
                            <mediaelementwrapper id="mejs_7011373000961678">
                                <audio width="300" preload="none" src="https://www.xfyeta.com/static/audio/huiyi.mp3"
                                       id="mejs_7011373000961678_html5"></audio>
                            </mediaelementwrapper>
                        </div>
                        <div class="mejs__layers">
                            <div class="mejs__poster mejs__layer"
                                 style="display: none; width: 300px; height: 40px;"></div>
                        </div>
                        <div class="mejs__controls">
                            <div class="mejs__button mejs__playpause-button mejs__play">
                                <button type="button" aria-controls="mep_3" title="Play" aria-label="Play"
                                        tabindex="0"></button>
                            </div>
                            <div class="mejs__time-rail"><span class="mejs__time-total mejs__time-slider" role="slider"
                                                               tabindex="0" aria-label="Time Slider" aria-valuemin="0"
                                                               aria-valuemax="NaN" aria-valuenow="0"
                                                               aria-valuetext="00:00"><span class="mejs__time-buffering"
                                                                                            style="display: none;"></span><span
                                    class="mejs__time-loaded"></span><span class="mejs__time-current"></span><span
                                    class="mejs__time-hovered no-hover"></span><span class="mejs__time-handle"><span
                                    class="mejs__time-handle-content"></span></span><span class="mejs__time-float"><span
                                    class="mejs__time-float-current">00:00</span><span
                                    class="mejs__time-float-corner"></span></span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="speech">
    <div class="container speech__container">
        <div class="speech__tabs js_speechTabs"><span data-task="435690241984576"
                                                      class="speech__tab selected">宽带到期提醒</span><span
                data-task="435692323145792" class="speech__tab">话费低余额提醒</span><span data-task="435687080003648"
                                                                                    class="speech__tab">汽车4S店满意度回访</span><span
                data-task="435694425278528" class="speech__tab">会议邀约</span></div>
    </div>
    <div id="js_speechForm" class="speech__sms"><p class="speech__desc">在线体验，抢先感受AI机器人卓越效果</p>
        <div class="speech__form">
            <div class=""><input id="js_inputPhone" class="speech__input input-phone" type="text"
                                 placeholder="请输入您的手机号码">
                <div id="js_phoneError" class="input--error vhidden"></div>
            </div>
            <div>
                <div class="speech__code"><span id="jsGetCode" class="speech__code__btn">获取验证码</span></div>
                <input id="js_inputCode" class="speech__input input-code" type="text" placeholder="验证码">
                <div id="js_smsCodeError" class="input--error vhidden"></div>
            </div>
            <div>
                <button id="js_expBtn" class="speech__btn">即刻体验</button>
            </div>
        </div>
    </div>
    <div id="js_speechSuccess" class="speech__success hidden"><p class="font20">电话正在呼入中，请稍后…</p>
        <p>请注意接听来自0551-69101460的电话</p></div>
</div>
<div class="news"><h2 id="news__title" class="subtitle">资讯动态</h2>
    <div class="news__list container">
        <div class="news__item">
            <div class="news__img"><img src="../static/home/img/微信图片_20181225111042.jpg"></div>
            <div class="news__content"><p class="news__title">智能语音产业再迎利好消息，工信部宣布将推动智能语音AI核心技术发展</p>
                <p class="news__intro">近日，由上海市经济和信息化委员会、安徽省经济和信息化厅指导，中国语音产业联盟主办的“2018中国语音…</p><a
                        href="https://www.xfyeta.com/news_295.html" class="news__more">更多</a>
                <p class="news__date">2018-12-25 11:12:07</p></div>
        </div>
        <div class="news__item">
            <div class="news__img"><img src="../static/home/img/微信图片_20181129135346.jpg"></div>
            <div class="news__content"><p class="news__title">福布斯发布2019年数字转型趋势报告，智能语音赛道或成明年最大热门</p>
                <p class="news__intro">了解数字转型不仅是预测技术转变，更是包括了技术、商业等多领域的组织变革。《福布斯》的研究员采用了过去…</p><a
                        href="https://www.xfyeta.com/news_278.html" class="news__more">更多</a>
                <p class="news__date">2018-11-29 13:54:52</p></div>
        </div>
        <div class="news__item">
            <div class="news__img"><img src="../static/home/img/微信图片_20181123164507.jpg"></div>
            <div class="news__content"><p class="news__title">AI到底有啥用？世界各国纷纷加注、将AI列为国家战略！</p>
                <p class="news__intro">“如果一国政府对人工智能技术进行管制，禁止使用，那就意味着相关的研发和生产会转移到别的国家进行。”—…</p><a
                        href="https://www.xfyeta.com/news_264.html" class="news__more">更多</a>
                <p class="news__date">2018-11-23 16:46:07</p></div>
        </div>
    </div>
    <div class="news__btn"><a href="/news" class="btn-all">查看全部动态</a></div>
</div>
<div class="technology"><h2 id="technology__title" class="subtitle">基于讯飞技术，全球领先的电话机器人品牌</h2>
    <div class="technology__list container">
        <div class="technology__item"><i id="tech2" class="technology__icon tech2"></i>
            <div class="technology__txt">基于科大讯飞人工智能<br>语音语义技术</div>
        </div>
        <div class="technology__item"><i id="tech4" class="technology__icon tech4"></i>
            <div class="technology__txt">搭载讯飞研究院DFCNN<br>语音识别引擎</div>
        </div>
        <div class="technology__item"><i id="tech1" class="technology__icon tech1"></i>
            <div class="technology__txt">百名人工智能专家、训机师、行<br>业专家等共同潜心研发而成</div>
        </div>
        <div class="technology__item"><i id="tech3" class="technology__icon tech3"></i>
            <div class="technology__txt">业内唯一一款支持及时体验的<br>电话机器人品牌</div>
        </div>
    </div>
</div>
<div class="effect"><h2 id="effect__title" class="subtitle">Yeta助力企业降本增效，业绩腾飞</h2>
    <div class="effect__list container">
        <div class="effect__item">
            <div class="effect__bg"></div>
            <div class="effect__content"><i class="effect__icon icon1"></i>
                <div class="effect__line"></div>
                <p class="effect__t1">成本更低，效率更高</p>
                <p class="effect__t2">成本不及人工六分之一，效率超<br>人工6倍有余</p></div>
        </div>
        <div class="effect__item">
            <div class="effect__bg"></div>
            <div class="effect__content"><i class="effect__icon icon2"></i>
                <div class="effect__line"></div>
                <p class="effect__t1">始终如一，永不疲倦</p>
                <p class="effect__t2">始终情绪饱满、永不产生离职想法</p></div>
        </div>
        <div class="effect__item">
            <div class="effect__bg"></div>
            <div class="effect__content"><i class="effect__icon icon3"></i>
                <div class="effect__line"></div>
                <p class="effect__t1">精准筛选，意向推送</p>
                <p class="effect__t2">意向客户初筛，精准客户直推微信及时跟进</p></div>
        </div>
        <div class="effect__item">
            <div class="effect__bg"></div>
            <div class="effect__content"><i class="effect__icon icon4"></i>
                <div class="effect__line"></div>
                <p class="effect__t1">强劲CRM，管理方便</p>
                <p class="effect__t2">面面俱到的CRM，客户跟进回<br>访便捷高效</p></div>
        </div>
    </div>
</div>
<div class="partner"><h2 id="partner__title" class="subtitle">合作共赢 共创美好未来</h2>
    <div class="partner__list container">
        <div class="partner__item partner-1"></div>
        <div class="partner__item partner-2"></div>
        <div class="partner__item partner-3"></div>
        <div class="partner__item partner-4"></div>
        <div class="partner__item partner-5"></div>
        <div class="partner__item partner-6"></div>
        <div class="partner__item partner-7"></div>
        <div class="partner__item partner-8"></div>
        <div class="partner__item partner-9"></div>
        <div class="partner__item partner-10"></div>
        <div class="partner__item partner-11"></div>
        <div class="partner__item partner-12"></div>
    </div>
</div>
