<!-- banner图 -->
<div class="banner">
    <h1>行业热点、产品更新、一览无余</h1>
</div>
<!-- 详情页容器 -->
<div id="js_newsDetail" class="container news__detail">
    <div class="news__nav">
        <span><a href="/">首页</a></span>
        <span>&gt;</span>
        <span><a href="/news">新闻资讯</a></span>
        <span>&gt;</span>
        <span id="js_category">{$news_details.news_type==0?'行业资讯':($news_details.news_type==1?'公司动态':'热门新闻')}</span>
        <span>&gt;</span>
        <span>正文</span>
    </div>
    <div class="news__detail__content">
        <div class="news__detail__title">
            <h1>{$news_details.news_title}</h1>
            <p class="news__detail__date">{$news_details.create_time|date="Y-m-d H:i:s"}</p>
        </div>
        <div class="news__detail_content">
            {$news_details.news_msg|raw}
           </div>
        <!--<div class="news__page">-->
            <!--<div class="news__prev"><span>上一篇：</span><a href="https://www.xfyeta.com/news_295.html">智能语音产业再迎利好消息，工信部宣布将推动智能语音AI核心技术发展</a>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
