<div class="banner"><h1>行业热点、产品更新、一览无余</h1></div>
<div class="tabs">
    <div class="tab {$datatype==0?'selected':''}" onclick="tabchange(0)">行业资讯</div>
    <div class="tab {$datatype==1?'selected':''}" onclick="tabchange(1)">公司动态</div>
    <div class="tab {$datatype==2?'selected':''}" onclick="tabchange(2)">热门新闻</div>
</div>
<div id="js_newsList" class="news container">
    <div class="news__nav"><span><a href="index.html">首页</a></span> <span>&gt;</span>
        <span><a>{$datatype==0?'行业资讯':($datatype==1?'公司动态':'热门新闻')}</a></span></div>
    <div id="js_news" class="news__list">
        <div class="news__content">
            {foreach $newslist as $item}
            <div class="news__item">
                <div class="news__item__img"><img
                        src="..{$item.news_img}"></div>
                <div class="new__item__body">
                    <p class="news__title">
                    <a target="_blank" href="newdetail/{$item.id}">{$item.news_title}</a>
                </p>
                    <p class="news__desc">{$item.news_msg|mb_substr=0,150,'utf-8'} ... </p>
                    <p class="news__date">{$item.create_time|date="Y-m-d H:i:s"}</p></div>
            </div>
            {/foreach}
        </div>
        <div class="news__btn">
            <div class="col-sm-7" style="margin:0 auto;width: 98%">
                {php}echo trim($newslist->render(),'"');{/php}
            </div>
        </div>
    </div>
</div>

<script>
    function tabchange(datatype) {
        window.location.href="/news/"+datatype;
    }
</script>