<div class="banner">
    <div class="banner-content"><h3 class="banner-title">诚招各大城市合伙人，轻松掘金AI时代</h3><a herf="#apply"
                                                                                   class="banner-btn">点击加盟</a></div>
</div>
<div class="intro">
    <div class="title"><p class="title__txt">为什么选择加盟我们</p>
        <div class="title__line"></div>
    </div>
    <div class="intro__list container">
        <div class="intro__item"><i class="intro__icon icon1"></i>
            <p class="intro__name">品牌背书</p>
            <div class="intro__desc">依托科大讯飞，品牌有保障</div>
        </div>
        <div class="intro__item"><i class="intro__icon icon2"></i>
            <p class="intro__name">政策优势</p>
            <div class="intro__desc">多种扶持政策，代理更轻松</div>
        </div>
        <div class="intro__item"><i class="intro__icon icon3"></i>
            <p class="intro__name">售后服务</p>
            <div class="intro__desc">完善售后服务，无后顾之忧</div>
        </div>
    </div>
</div>
<div class="policy">
    <div class="title"><p class="title__txt">独一无二的代理扶持政策</p>
        <div class="title__line"></div>
    </div>
    <div class="policy_table container">
        <div class="policy_column">
            <div class="policy_column_top"><i class="policy_icon policy_icon4"></i></div>
            <div class="policy_column_bottom"><h4>区域保护</h4>
                <p>限制各加盟地区代理商数量，维护加盟商利益</p></div>
        </div>
        <div class="policy_column">
            <div class="policy_column_top"><i class="policy_icon policy_icon3"></i></div>
            <div class="policy_column_bottom"><h4>产品支持</h4>
                <p>强大的功能，完美的客户体验，灵活的部署模式</p></div>
        </div>
        <div class="policy_column">
            <div class="policy_column_top"><i class="policy_icon policy_icon2"></i></div>
            <div class="policy_column_bottom"><h4>培训支持</h4>
                <p>产品定位，目标客户销售管理等全方位系统培训</p></div>
        </div>
        <div class="policy_column">
            <div class="policy_column_top"><i class="policy_icon policy_icon1"></i></div>
            <div class="policy_column_bottom"><h4>销售支持</h4>
                <p>售前支持，售中指导，售后协助</p></div>
        </div>
    </div>
</div>
<div class="coll">
    <div class="title"><p class="title__txt">合作条件</p>
        <div class="title__line"></div>
    </div>
    <div class="coll__content container">
        <div class="coll__item">
            <div class="coll__item__header">企业实力</div>
            <div class="coll__item__content">具备一定的企业实力，属性电话外呼行业</div>
        </div>
        <div class="coll__item">
            <div class="coll__item__header">业务正规</div>
            <div class="coll__item__content">保证业务正规，坚决杜绝违法违规外呼行为</div>
        </div>
        <div class="coll__item">
            <div class="coll__item__header">优质服务</div>
            <div class="coll__item__content">认可并支持AI客服发展，持续为客户提供优质服务</div>
        </div>
        <div class="coll__item">
            <div class="coll__item__header">共同价值观</div>
            <div class="coll__item__content">拥有共同的价值观者优先</div>
        </div>
    </div>
</div>
<div class="apply" id="apply">
    <div class="title"><p class="title__txt">立即申请</p></div>
    <div class="apply__content">
        <div class="apply__form">
            <div class="form__item"><input type="text" value="" class="form__name" placeholder="请输入真实姓名"> <span
                    class="nameError errTip"><span></span></span></div>
            <div class="form__item"><input type="text" value="" class="form__area" placeholder="请输入公司名称"> <span
                    class="areaError errTip"><span></span></span></div>
            <div class="form__item"><input type="text" value="" class="form__phoneNumber" placeholder="请输入手机号码"> <span
                    class="phoneError errTip"><span></span></span></div>
            <div class="form__item"><input type="button" value="提交" class="form__btn"></div>
        </div>
    </div>
</div>