
<div class="banner"></div>
<div class="awt-a">
    <div class="w-1200">
        <dl>
            <dt> 您的企业在电话销售中是否遇到这些难题？</dt>
            <dd><span>1</span>人力成本高、人员流动大、培训周期长</dd>
            <dd><span>2</span>人工外拨拒接率高、挂断率高，工作效率低</dd>
            <dd><span>3</span>沟通无法实时记录、意向分类不明确、成交率低</dd>
        </dl>
    </div>
</div>
<div class="intro module">
    <div class="title"><p class="title__txt">电话机器人 VS 普通人工</p>
        <!--<div class="title__line"></div>-->
        <!--<p class="subtitle">只为更佳的用户体验</p>-->
    </div>
    <div class="intro__list container">

    <img src="../static/home/img/vslog.png">
    </div>
</div>
<div class="brand module">
    <div class="title"><p class="title__txt">产品优势</p>
        <!--<div class="title__line"></div>-->
        <!--<p class="subtitle">先进智能、后台强劲、行业顶级</p>-->
    </div>
    <div class="brand__list container">

        <ul class="ul">
            <li>
                <div class="image-outer"></div>
                <div class="title">
                    高效率运作
                </div>
                <div class="text">
                    电话机器人单线日均外呼1200+通以上
                    <br>自动过滤无效号码，电话接通状态分类
                </div></li>
            <li>
                <div class="image-outer"></div>
                <div class="title">
                    真人语音对答
                </div>
                <div class="text">
                    支持自主录音上传
                    <br>准确识别回答
                    <br>对话内容文字记录
                    <br>通话录音实时保存
                </div></li>
            <li>
                <div class="image-outer"></div>
                <div class="title">
                    智能筛选客户
                </div>
                <div class="text">
                    自动划分客户意向等级
                    <br>精准分类，实时显示
                </div></li>
            <li>
                <div class="image-outer"></div>
                <div class="title">
                    无需硬件，快速上线
                </div>
                <div class="text">
                    无需设备投入，随时部署
                    <br>快速上线，无需维护
                    <br>全程可视化界面操作
                </div></li>
            <li>
                <div class="image-outer"></div>
                <div class="title">
                    稳定性保障
                </div>
                <div class="text">
                    分布式架构
                    <br>多年Ai领域开发经验
                    <br>专业的售后服务团队
                </div></li>
            <li>
                <div class="image-outer"></div>
                <div class="title">
                    安全性保障
                </div>
                <div class="text">
                    三地五中心防护方案
                    <br>大数据集群部署
                    <br>业内优秀的SLA保障体系
                    <br>及时赔付方案
                </div></li>
            <li>
                <div class="image-outer"></div>
                <div class="title">
                    售后团队24小时服务
                </div>
                <div class="text">
                    客户一对一贴心完美售后
                    <br>使用过程全程无忧

                </div></li>
            <li>
                <div class="image-outer"></div>
                <div class="title">
                    标准化执行
                </div>
                <div class="text">
                    智能机器人工作状态、话术标准化
                    <br>智能定制行业话术
                    <br>不请假，情绪稳定化，永不疲惫
                </div></li>
        </ul>
    </div>
</div>



<div class="major module" style="margin-top:0px;">
    <div class="title"><p class="title__txt">工作原理</p>
        <!--<div class="title__line"></div>-->
        <!--<p class="subtitle">先进智能、后台强劲、行业顶级</p>-->
    </div>
    <div class="brand__list container">
     </div>
</div>

<div class="service module">
    <div class="title"><p class="title__txt">贴心服务</p>
        <!--<div class="title__line"></div>-->
        <!--<p class="subtitle">让每一位客户用的放心</p>-->
    </div>
    <div class="service__list">

        <div class="t-mianCon clearfloat" id="spu-list">
            <div class="t-mainsku">
                <div>
                    <img src="../static/home/img/20180308051003950acc_icon.png" class="mt30">
                    <p class="t-text" style="color: #2a499d;">
                        产品培训
                    </p>
                </div>
                <div class="skuShow ">
                    <p class="t-miantit" style="color:#2a499d;">
                        产品培训
                    </p>
                    <div class="t-gang">
                    </div>
                    <div style="font-size:18px;margin-top:30px;color:#fc8005">
                        指派专人进行产品的<br/>现场使用培训<br/>保障每一位客户都能正常使用
                    </div>
                </div>
            </div>
            <div class="t-mainsku">
                <div>
                    <img src="../static/home/img/20180308051010497teacher_icon.png" class="mt30">
                    <p class="t-text" style="color: #2a499d;">
                        7*24h服务
                    </p>
                </div>
                <div class="skuShow ">
                    <p class="t-miantit" style="color: #2a499d;">
                        7*24h服务
                    </p>
                    <div class="t-gang">
                    </div>
                    <div style="font-size:18px;margin-top:30px;color:#fc8005">
                        指派专人进行产品的<br/>现场使用培训<br/>保障每一位客户都能正常使用
                    </div>
                </div>
            </div>
            <div class="t-mainsku">
                <div>
                    <img src="../static/home/img/20180308051121519HR_icon.png" class="mt30">
                    <p class="t-text" style="color: #2a499d;">
                        话术录入
                    </p>
                </div>
                <div class="skuShow ">
                    <p class="t-miantit" style="color: #2a499d;">
                        话术录入
                    </p>
                    <div class="t-gang">
                    </div>
                    <div style="font-size:18px;margin-top:30px;color:#fc8005">
                        话术数据库建立初始<br/>安排专人协助制作<br/>并给出针对性建议
                    </div>
                </div>
            </div>
            <div class="t-mainsku">
                <div>
                    <img src="../static/home/img/201803080510289gwy.png" class="mt30">
                    <p class="t-text" style="color: #2a499d;">
                        优化升级
                    </p>
                </div>
                <div class="skuShow skuLie">
                    <p class="t-miantit" style="color:#2a499d;">
                        优化升级
                    </p>
                    <div class="t-gang">
                    </div>
                    <div style="font-size:18px;margin-top:30px;color:#fc8005">
                        根据客户需求<br/>对部署系统进行定期升级服务
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{js href="/static/home/js/animate.js" /}

<script>
    $(function () {
        var b = $("#solutionList li");
        b.mouseover(function() {
            var e = $(this);
            b.removeClass("active");
            e.addClass("active")
        });
    })
</script>