
<div class="banner"></div>
<div class="intro module">
    <div class="title"><p class="title__txt">一应俱全的产品功能</p>
        <div class="title__line"></div>
        <p class="subtitle">只为更佳的用户体验</p></div>
    <div class="intro__list container">
        <div class="intro__item"><i class="intro__icon intro__icon--icon1"></i>
            <p class="intro__name">随时打断</p>
            <div class="intro__desc">一键自动操作，支持随<br>时打断</div>
        </div>
        <div class="intro__item"><i class="intro__icon intro__icon--icon2"></i>
            <p class="intro__name">意向推送</p>
            <div class="intro__desc">微信推送意向客户信息意向<br>客户转人工</div>
        </div>
        <div class="intro__item"><i class="intro__icon intro__icon--icon3"></i>
            <p class="intro__name">话术配置</p>
            <div class="intro__desc">企业子账户功能，话术<br>录音自主配置</div>
        </div>
        <div class="intro__item"><i class="intro__icon intro__icon--icon4"></i>
            <p class="intro__name">线路自由</p>
            <div class="intro__desc">线路对接自由，自主学习<br>筛选更精准</div>
        </div>
    </div>
</div>
<div class="brand module">
    <div class="title"><p class="title__txt">全面领先的电话机器人品牌</p>
        <div class="title__line"></div>
        <p class="subtitle">先进智能、后台强劲、行业顶级</p></div>
    <div class="brand__list container">
        <div class="brand__item brand__item--icon1">
            <div class="brand__item__bg"></div>
            <div class="brand__item__content"><i class="brand___icon brand___icon--icon1"></i>
                <p class="brand__t1">3.0版语音识别引擎</p>
                <div class="brand__line"></div>
                <p class="brand__t2">对话准确率达95%，对话自然顺畅<br>媲美真人</p></div>
        </div>
        <div class="brand__item brand__item--icon2">
            <div class="brand__item__bg"></div>
            <div class="brand__item__content"><i class="brand___icon brand___icon--icon2"></i>
                <p class="brand__t1">高效智能化</p>
                <div class="brand__line"></div>
                <p class="brand__t2">一键自动拨号、统计、报表分析<br>简单便捷</p></div>
        </div>
        <div class="brand__item brand__item--icon3">
            <div class="brand__item__bg"></div>
            <div class="brand__item__content"><i class="brand___icon brand___icon--icon3"></i>
                <p class="brand__t1">强劲CRM后台</p>
                <div class="brand__line"></div>
                <p class="brand__t2">完善客户管理系统，意向客户<br>跟进有的放矢</p></div>
        </div>
    </div>
</div>
<div class="comp module">
    <div class="title"><p class="title__txt">降本增效，掀起呼叫产业的技术革命</p>
        <div class="title__line"></div>
        <p class="subtitle">日呼1200通/路，低成本下的效率革命</p></div>
    <div class="comp__content">
        <table class="comp__content__table">
            <tbody>
            <tr>
                <td class="comp__td--left comp__td-head">Yeta机器人</td>
                <td class="comp__td--right comp__td-head">传统人工</td>
            </tr>
            <tr>
                <td class="comp__td--left">1200通/路</td>
                <td class="comp__td--right">300通/人</td>
            </tr>
            <tr>
                <td class="comp__td--left">热情专业，100%激情</td>
                <td class="comp__td--right">不可控，20%激情</td>
            </tr>
            <tr>
                <td class="comp__td--left">全面、高效、客观</td>
                <td class="comp__td--right">缺失、耗时、主观</td>
            </tr>
            <tr>
                <td class="comp__td--left">标准分类、记录详实、及时跟进</td>
                <td class="comp__td--right">记录混乱、易撞单、跟进难</td>
            </tr>
            <tr>
                <td class="comp__td--left">机器人费用，无额外支出</td>
                <td class="comp__td--right">底薪+绩效+社保+场地+办公成本</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="major module">
    <div class="title"><p class="title__txt">专业专注的Yeta电话机器人</p>
        <div class="title__line"></div>
        <p class="subtitle">做业务团队的精准获客利器</p></div>
    <div class="major__list">
        <div class="major__item"><i class="major__icon major__icon--icon1"></i>
            <p class="major__title--t1">海量外呼、永不疲倦</p>
            <p class="major__title--t2">日呼1200通/路，始终情绪饱满不知疲劳</p></div>
        <div class="major__item"><i class="major__icon major__icon--icon2"></i>
            <p class="major__title--t1">支持打断、人工接入</p>
            <p class="major__title--t2">场景真实度高，意向强烈者可直转人工</p></div>
        <div class="major__item"><i class="major__icon major__icon--icon3"></i>
            <p class="major__title--t1">精准筛选、意向推送</p>
            <p class="major__title--t2">按意向程度筛选客户，AB类客户直推微信，及时跟进</p></div>
        <div class="major__item"><i class="major__icon major__icon--icon4"></i>
            <p class="major__title--t1">销冠说辞、转化率高</p>
            <p class="major__title--t2">贴合客服场景的精英话术，互动性好，说服度高</p></div>
    </div>
</div>
<div class="technology module">
    <div class="title"><p class="title__txt">基于讯飞AI语音技术</p>
        <div class="title__line"></div>
        <p class="subtitle">全面领先的智能会话</p></div>
    <div class="technology__list container">
        <div class="technology__item">
            <div class="tech__head"><i class="tech__icon tech__icon--icon1"></i>
                <p class="tech__desc">快速应答</p></div>
            <div class="tech__body">对话响应速度低于1秒<br>快速应答客户</div>
        </div>
        <div class="technology__item">
            <div class="tech__head"><i class="tech__icon tech__icon--icon2"></i>
                <p class="tech__desc">3.0版识别引擎</p></div>
            <div class="tech__body">讯飞研究院 3.0版DFCNN语音<br>识别引擎，领先市面引擎一代</div>
        </div>
        <div class="technology__item">
            <div class="tech__head"><i class="tech__icon tech__icon--icon3"></i>
                <p class="tech__desc">GenesysCTI方案</p></div>
            <div class="tech__body">GenesysCTI顶级解决方案<br>保证呼叫安全</div>
        </div>
        <div class="technology__item">
            <div class="tech__head"><i class="tech__icon tech__icon--icon4"></i>
                <p class="tech__desc">XTTS技术</p></div>
            <div class="tech__body">XTTS动态语音合成技术<br>达到真人说话水平</div>
        </div>
    </div>
</div>
<div class="service module">
    <div class="title"><p class="title__txt">专业团队贴心售后</p>
        <div class="title__line"></div>
        <p class="subtitle">让每一位客户用的放心</p></div>
    <div class="service__list">
        <div class="service__item"><i class="service__icon service__icon--icon1"></i>
            <p class="service_title">训机师团队</p>
            <p class="service_subtitle">独家训机师团队，持续优化话术，保障最佳效果</p></div>
        <div class="service__item"><i class="service__icon service__icon--icon2"></i>
            <p class="service_title">售后服务</p>
            <p class="service_subtitle">全天1v1专属管家式售后服务，问题响应解答快</p></div>
        <div class="service__item"><i class="service__icon service__icon--icon3"></i>
            <p class="service_title">免费升级</p>
            <p class="service_subtitle">定期系统免费升级，功能更全，系统更加稳定好用</p></div>
    </div>
</div>
<div class="domain module">
    <div class="title"><p class="title__txt">为客服而生 适用领域广泛</p>
        <div class="title__line"></div>
        <p class="subtitle">人工智能语音技术落地 让人类发挥更高价值</p></div>
    <div class="domain__list container">
        <div class="domain__item audio-icon1"><p class="sample__name">宽带到期提醒</p>
            <p class="sample__desc">宽带业务到期续费通知，告别人工枯燥、单调提醒</p></div>
        <div class="domain__item audio-icon2"><p class="sample__name">话费低余额提醒</p>
            <p class="sample__desc">话费低余额语音对话提醒，极大节约人工时间</p></div>
        <div class="domain__item audio-icon3"><p class="sample__name">汽车4S店满意度回访</p>
            <p class="sample__desc">及时聆听客户宝贵意见，回访自然、顺畅</p></div>
        <div class="domain__item audio-icon4"><p class="sample__name">会议邀约</p>
            <p class="sample__desc">邀约参会客户精准、高效</p></div>
    </div>
</div>

