

<div class="banner">
    <div class="banner-content customer-case-icon animated slideInDown" style="text-align: left;padding-top: 1px;">
        <h3 style="color: #fff; margin-top: 230px; font-size: 40px; letter-spacing: 8px;">精准锁定大量意向客户</h3>
        <h3 style="color: #fff; margin-top: 30px; font-size: 30px; letter-spacing: 8px;">助力企业业绩腾飞</h3>
        <h3 style="color: #fff; margin-top: 20px; font-size: 20px; letter-spacing: 8px;">抖云电话机器人 识别率高达95%</h3>
    </div>
</div>

<div class="awt-a">
    <div class="w-1200">
        <dl>
            <dt> 您的企业在电话销售中是否遇到这些难题？</dt>
            <dd><span>1</span>人力成本高、人员流动大、培训周期长</dd>
            <dd><span>2</span>人工外拨拒接率高、挂断率高，工作效率低</dd>
            <dd><span>3</span>沟通无法实时记录、意向分类不明确、成交率低</dd>
        </dl>
    </div>
</div>
<div class="intro module">
    <div class="title"><p class="title__txt">电话机器人 VS 普通人工</p>
        <!--<div class="title__line"></div>-->
        <!--<p class="subtitle">只为更佳的用户体验</p>-->
    </div>
    <div class="intro__list container">

    <img src="../static/home/img/vslog.png" style="width: 1000px;height:498px;">
    </div>
</div>

<div class="brand module">
    <div class="title">
        <p class="title__txt">产品优势</p>
        <!--<div class="title__line"></div>-->
        <!--<p class="subtitle">先进智能、后台强劲、行业顶级</p>-->
    </div>
    <div class="brand__list container">

        <ul class="ul">
            <li class="customer-case-icon animated fadeInLeft">
                <div class="image-outer"></div>
                <div class="title">
                    高效率运作
                </div>
                <div class="text">
                    电话机器人单线日均外呼1200+通以上
                    <br>自动过滤无效号码，电话接通状态分类
                </div>
            </li>
            <li class="customer-case-icon animated fadeInLeft">
                <div class="image-outer"></div>
                <div class="title">
                    真人语音对答
                </div>
                <div class="text">
                    支持自主录音上传
                    <br>准确识别回答
                    <br>对话内容文字记录
                    <br>通话录音实时保存
                </div>
            </li>
            <li class="customer-case-icon animated fadeInLeft">
                <div class="image-outer"></div>
                <div class="title">
                    智能筛选客户
                </div>
                <div class="text">
                    自动划分客户意向等级
                    <br>精准分类，实时显示
                </div></li>
            <li class="customer-case-icon animated fadeInLeft">
                <div class="image-outer"></div>
                <div class="title">
                    无需硬件，快速上线
                </div>
                <div class="text">
                    无需设备投入，随时部署
                    <br>快速上线，无需维护
                    <br>全程可视化界面操作
                </div></li>
            <li class="customer-case-icon animated fadeInRight">
                <div class="image-outer"></div>
                <div class="title">
                    稳定性保障
                </div>
                <div class="text">
                    分布式架构
                    <br>多年Ai领域开发经验
                    <br>专业的售后服务团队
                </div></li>
            <li class="customer-case-icon animated fadeInRight">
                <div class="image-outer"></div>
                <div class="title">
                    安全性保障
                </div>
                <div class="text">
                    三地五中心防护方案
                    <br>大数据集群部署
                    <br>业内优秀的SLA保障体系
                    <br>及时赔付方案
                </div></li>
            <li class="customer-case-icon animated fadeInRight">
                <div class="image-outer"></div>
                <div class="title">
                    售后团队24小时服务
                </div>
                <div class="text">
                    客户一对一贴心完美售后
                    <br>使用过程全程无忧

                </div></li>
            <li class="customer-case-icon animated fadeInRight">
                <div class="image-outer"></div>
                <div class="title">
                    标准化执行
                </div>
                <div class="text">
                    智能机器人工作状态、话术标准化
                    <br>智能定制行业话术
                    <br>不请假，情绪稳定化，永不疲惫
                </div></li>
        </ul>
    </div>
</div>



<div class="major module" style="margin-top:0px;">
    <div class="title"><p class="title__txt">工作原理</p>
        <!--<div class="title__line"></div>-->
        <!--<p class="subtitle">先进智能、后台强劲、行业顶级</p>-->
    </div>
    <div class="brand__list container">
        <img src="../static/home/img/cloudlogo.png" class="field-block animated service7 bounceIn">
        <div class="customer-case-icon animated fadeInRight" style="position: absolute; margin-top: 380px;margin-left: 470px;width:300px;">
            <p style="color:#4472c4;font-size: 18px;">私有云</p>
            <span>适合企业：有号码本地化需求，对通话质量要求高<br/>
特点：通话质量好，号码本地化</span>
        </div>
        <div class="customer-case-icon animated slideInDown" style="position: absolute;margin-left: 300px;width:300px;">
            <p style="color:#4472c4;font-size: 18px;">混合云</p>
            <span>适合企业：坐席规模大，对安全要求高，个性化需求多<br/>
特点：安全性高，语音质量高，可个性化定制，开发灵活。</span>
        </div>
        <div class="customer-case-icon animated fadeInLeft" style="position: absolute;margin-left: -450px;margin-top: 200px;width:300px;">
            <p style="color:#4472c4;font-size: 18px;">公有云</p>
            <span>适合企业：针对坐席少零散，投入比较小。<br/>
特点：建设零成本，部署灵活，无地域限制，有网络即可，<br/>建设时间段，安装客户端直接开通账号</span>
        </div>
     </div>
</div>


<div class="Usethescene">
    <div class="user" style="padding:0 30px;">
        <div class="title">
            <p class="title__txt" style="color:white">应用领域</p>
        </div>

        <div class="UsethesceneContent clearfix">
            <div class="imgblock animated cradvantage1 bounceIn">
                <dl>
                    <dt><img src="../static/home/img/application1.png" data-img="../static/home/img/application1h.png" alt=""></dt>
                    <dd>金融</dd>
                </dl>
            </div>

            <div class="imgblock animated cradvantage2 bounceIn">
                <dl>
                    <dt><img src="../static/home/img/application2.png" data-img="../static/home/img/application2h.png" alt=""></dt>
                    <dd>保险</dd>
                </dl>
            </div>

            <div class="imgblock animated cradvantage3 bounceIn">
                <dl>
                    <dt><img src="../static/home/img/application3.png" data-img="../static/home/img/application3h.png" alt=""></dt>
                    <dd>房地产</dd>
                </dl>
            </div>
            <div class="imgblock animated cradvantage4 bounceIn">
                <dl>
                    <dt><img src="../static/home/img/application4.png" data-img="../static/home/img/application4h.png" alt=""></dt>
                    <dd>运营商</dd>
                </dl>
            </div>
            <div class="imgblock animated cradvantage5 bounceIn" style="margin-right:0">
                <dl>
                    <dt><img src="../static/home/img/application5.png" data-img="../static/home/img/application5h.png" alt=""></dt>
                    <dd>互联网</dd>
                </dl>
            </div>
            <div class="imgblock animated cradvantage6 bounceIn">
                <dl>
                    <dt><img src="../static/home/img/application6.png" data-img="../static/home/img/application6h.png" alt=""></dt>
                    <dd>电商</dd>
                </dl>
            </div>
            <div class="imgblock animated cradvantage7 bounceIn">
                <dl>
                    <dt><img src="../static/home/img/application7.png" data-img="../static/home/img/application7h.png" alt=""></dt>
                    <dd>企业服务</dd>
                </dl>
            </div>
            <div class="imgblock animated cradvantage8 bounceIn">
                <dl>
                    <dt><img src="../static/home/img/application8.png" data-img="../static/home/img/application8h.png" alt=""></dt>
                    <dd>教育培训</dd>
                </dl>
            </div>
            <div class="imgblock animated cradvantage9 bounceIn">
                <dl>
                    <dt><img src="../static/home/img/application9.png" data-img="../static/home/img/application9h.png" alt=""></dt>
                    <dd>汽车</dd>
                </dl>
            </div>

            <div class="imgblock1 animated cradvantage10 bounceIn">
                <dl style="margin-top:65px;">
                    <dt style="font-size: 18px;">更多领域</dt>
                    <dd>尽情期待......</dd>
                </dl>
            </div>
        </div>

    </div>

</div>


<div class="service module">
    <div class="title"><p class="title__txt">贴心服务</p>
        <!--<div class="title__line"></div>-->
        <!--<p class="subtitle">让每一位客户用的放心</p>-->
    </div>
    <div class="service__list">
        <img class="animated cradvantage1 bounceInLeft" src="../static/home/img/cppx_logo.png" style="width: 250px;height:504px;margin-right: 20px;">
        <img class="animated cradvantage1 bounceInLeft" src="../static/home/img/24h_logo.png" style="width: 250px;height:504px;margin-right: 20px;">
        <img class="animated cradvantage1 bounceInRight" src="../static/home/img/hslr_logo.png" style="width: 250px;height:504px;margin-right: 20px;">
        <img class="animated cradvantage1 bounceInRight" src="../static/home/img/yhsj_logo.png" style="width: 250px;height:504px;">
    </div>
</div>
{js href="/static/home/js/animate.js" /}

<script>
    $(function () {
        var b = $("#solutionList li");
        b.mouseover(function() {
            var e = $(this);
            b.removeClass("active");
            e.addClass("active")
        });


        $('.Usethescene').on("mouseover",".imgblock",function(){
            var img=$(this).find("img").attr("data-img");
            var src=$(this).find("img").attr("src");
            $(this).find("img").attr("src",img).attr("data-img",src);

        })
        $('.Usethescene').on("mouseout",".imgblock",function(){
            var img=$(this).find("img").attr("data-img");
            var src=$(this).find("img").attr("src");
            $(this).find("img").attr("src",img).attr("data-img",src);
        });
    });


</script>