<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">


        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                    <a class="single-item">
                        <i class="fa fa-home"></i>&nbsp;&nbsp;管理后台
                    </a>
                </h4>
            </div>
            <!-- Optionally, you can add icons to the links -->

            <li>
                <a href="/admin/news/list">
                    <i class='fa fa-book'></i> <span>新闻资讯管理</span>
                </a>
            </li>

            <li>
                <a href="/admin/join/list">
                    <i class='fa fa-book'></i> <span>加盟申请管理</span>
                </a>
            </li>
            <li>
                <a href="/admin/exper/list">
                    <i class='fa fa-user-circle-o'></i> <span>申请体验用户管理</span>
                </a>
            </li>
            <li>
                <a href="/admin/cooper/list">
                    <i class='fa fa-user-circle-o'></i> <span>合作案例管理</span>
                </a>
            </li>
        </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
